*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}
img{
    width: 100px;
}
.nav_bar{
    text-align: center;
    background: orchid;
    padding: 1% 7%;
}
.nav_bar::after{
    content: " ";
    display: table;
    clear: both;
}

[class*="col-"]{
    float: left;
    padding: 10px;
}

[class*="col-"]{
    width: 100%;
}
h1{
    font-size: 2.1rem;
    
}
.nav_menu{
   display: flex;
   flex-direction: column;
   
   text-transform: uppercase;

}
.nav_menu a{
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: darkmagenta;
    margin: 2px;
    border-radius: 10px;

}
a:hover{
    background: rgb(41, 0, 41);
    transition: 0.5s;
}